{{#navigation-bar styleClass='navigation_black'}}{{/navigation-bar}}

<div class="container">
  <h1 class="complete_reservation_title">Complete your reservation</h1>

  <div class="box_shadow restaurant_data_container" style="margin-bottom:65px;">
    <h1 class="title">Reservation details
      {{#unless reservationCompleted}}
        <div class="complete_reservation_remaining_time">You have {{remainingTime}} minutes to complete reservation</div>
       {{/unless}}
    </h1>

    <div class="row">
      <div class="col-md-2">
        <div class="complete_reservation_restaurant_image" style="background-image:url('{{currentReservation.restaurantImageFilename}}');"></div>
      </div>
      <div class="col-md-10 complete_reservation_restaurant_details">
        <div class="title">RESTAURANT</div>
        <div class="name">{{currentReservation.restaurantName}}</div>

        <div class="row">
          <div class="col-md-2">
            <div class="title">GUESTS</div>
            <div class="details">{{currentReservation.people}}</div>
          </div>
          <div class="col-md-3">
            <div class="title">DATE</div>
            <div class="details">{{currentReservation.date}}</div>
          </div>
          <div class="col-md-2">
            <div class="title">TIME</div>
            <div class="details">{{currentReservation.hour}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group registrationsuccessfull" style="display:none;">
       <div class="alert alert-success" role="alert">
           <div class="alertText">Reservation is successfull!</div>
       </div>
  </div>

  {{#unless currentUser.userLoggedIn}}
      <div class="login_register_container" style="margin-bottom:10px; text-align:left !important;">
          <h1 class="title complete_reservation_title_already_member">Already a member? {{#link-to 'login' class="register complete_reservation_signin_left"}}Sign in{{/link-to}}</h1>
      </div>

      <form>
        <div class="row">
          <div class="col-md-6 login_register_container complete_reservation" style="margin-bottom:60px;">
            <div class="form-group">
              {{input type="text" class="form-control input_fields" value=user.firstName placeholder="First Name"}}
            </div>

            <div class="form-group">
              {{input type="text" class="form-control input_fields" value=user.lastName placeholder="Last Name"}}
            </div>

            <div class="form-group">
              {{input type="text" class="form-control input_fields" value=user.email placeholder="Email"}}
            </div>

            <div>
              {{ember-selectize
                content=countries
                value=user.country
                placeholder="Select country"
                select-item=(action 'changeCity')
               }}
            </div>

          </div>

          <div class="col-md-6 login_register_container" style="margin-bottom:60px;">
            <div class="form-group">
              {{input type="text" class="form-control input_fields" value=user.phone placeholder="Phone Number"}}
            </div>

            <div class="form-group">
              {{input type="password" class="form-control input_fields" value=user.password placeholder="Password"}}
            </div>

            <div class="form-group">
              {{input type="password" class="form-control input_fields" value=user.confirmpassword placeholder="Confirm Password"}}
            </div>

            <div>
              {{ember-selectize
                content=cities
                value=user.city
                placeholder="Select city"
               }}
            </div>
          </div>
         </div>

        <div class="form-group registerNotifications">
             <div class="alert alert-danger" role="alert">
                 <div class="alertText"></div>
             </div>
        </div>
      </form>
  {{/unless}}

  {{#unless reservationCompleted}}
    <div class="complete_reservation_button_container">
        <button {{action 'completeReservation'}} class="btn button">Complete reservation</button>
        <div class="description">By clicking “Complete Reservation” you agree to the {{#link-to 'termsofuse'}}Terms of use{{/link-to}} and {{#link-to 'privacypolicy'}}Privacy Policy{{/link-to}}.</div>
    </div>
  {{/unless}}
</div>