{{#navigation-bar styleClass='navigation_white'}}{{/navigation-bar}}

<div class="home_header_big">
  <div class="background">
    <h1>Make a free reservation</h1>
    <h2>Choose your table from restaurants near you</h2>

    <div class="container">
      <div class="row">
        <div class="homepage_reservation_search">
          <div class="form-group" style="height:54px; overflow:visible;">
            <div class="reservation_column_search_icon">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
            <div class="reservation_column_input">
              {{input type="text" class="form-control input_fields" value=reservation.searchText placeholder="Search for a restaurant..."}}
            </div>

            <div class="reservation_column">
              {{ember-selectize
                content=selectPeople
                value=reservation.people
                placeholder="2 people"
               }}
            </div>
            <div class="reservation_column">
              {{ember-selectize
                content=selectDate
                value=reservation.date
                placeholder="Pick a date"
                select-item=(action 'changeDate')
               }}
            </div>
            <div class="reservation_column">
              {{ember-selectize
                content=selectHour
                value=reservation.hour
                placeholder="7:00 PM"
               }}
            </div>
            <div class="reservation_column"><button {{action 'findATable' model.restaurantDetails.id}} class="btn button">Find a table</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="homepage_title">Popular for Lunch Today</h1>

<div class="container" style="overflow:auto;">
  {{#each model.listRestaurants as |restaurantlist|}}
    {{#restaurant-item restaurantlist=restaurantlist}}{{/restaurant-item}}
  {{else}}
    Sorry, nobody is here.
  {{/each}}
</div>

<h1 class="homepage_title" style="margin-bottom:75px;">Popular locations</h1>
<div class="container" style="overflow:auto; margin-bottom:205px;">
  {{#each model.listRestaurantsLocations as |restaurantsLocation|}}
    {{#restaurant-location clickLocation='clickLocation' restaurantsLocation=restaurantsLocation homepage=true }}{{/restaurant-location}}
  {{/each}}
</div>
