<div class="container">
  <div class="row">
    <div class="col-md-6 col-center-block login_register_container">
      <h1 class="title">Create Account {{#link-to 'login' class="register"}}Login{{/link-to}}</h1>

      <form>
        <div class="form-group">
          {{input type="text" class="form-control input_fields" value=firstName placeholder="First Name"}}
        </div>

        <div class="form-group">
          {{input type="text" class="form-control input_fields" value=lastName placeholder="Last Name"}}
        </div>

        <div class="form-group">
          {{input type="text" class="form-control input_fields" value=email placeholder="Email"}}
        </div>

        <div class="form-group">
          {{input type="text" class="form-control input_fields" value=phone placeholder="Phone Number"}}
        </div>

        <div class="form-group" style="height:54px; overflow:visible;">
          <div class="register_select_list_country_container">
            <select class="form-control select_fields">
              <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
              <option value="Croatia">Croatia</option>
              <option value="Serbia">Serbia</option>
            </select>
          </div>
          <div class="register_select_list_country_container">
            <select class="form-control select_fields">
              <option value="Sarajevo">Sarajevo</option>
              <option value="Zagreb">Zagreb</option>
              <option value="Belgrade">Belgrade</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          {{input type="password" class="form-control input_fields" value=password placeholder="Password"}}
        </div>
        <div class="form-group">
          {{input type="password" class="form-control input_fields" value=confirmpassword placeholder="Confirm Password"}}
        </div>

        <button {{action 'createAccount'}} class="btn button">Create Account</button>
      </form>
     </div>
  </div>
</div>