<div class="restaurant_header_big">
  <div class="background" style="background-image:url('assets/images/restaurants/cover/{{model.imageFileName}}.jpg');"></div>
</div>

<div class="container restaurant_main_container">
  <div class="row">
    <div class="col-md-3">
      <div class="restaurant_thumb_container box_shadow">
        <img src="assets/images/restaurants/thumbnails/{{model.imageFileName}}.jpg" width="210" />
      </div>

      <ul class="restaurant_left_menu">
        <li><a href="javascript:void(0);">About</a></li>
        <li><a href="javascript:void(0);">Menu</a></li>
      </ul>
    </div>
    <div class="col-md-9" style="padding-left:40px;">
      <div class="restaurant_details">
        <h1 class="title">{{model.restaurantName}}</h1>
        <div class="stats">
          <img src="assets/images/star_active.png" />
          <img src="assets/images/star_active.png" />
          <img src="assets/images/star_active.png" />
          <img src="assets/images/star_active.png" />
          <img src="assets/images/star_inactive.png" />
          <span class="votes">({{model.votes}})</span>
          <span class="price_range">
            {{{model.priceRange}}}
          </span>
          <span class="restaurant_food">{{model.foodType}}</span>
        </div>
      </div>

      <div class="box_shadow restaurant_data_container">
        <h1 class="title">About Restaurant name</h1>
        {{#g-map lat=model.latitude lng=model.longitude zoom=17 as |google_mapa|}}
          {{g-map-marker google_mapa lat=model.latitude lng=model.longitude title="model.restaurantName"}}
        {{/g-map}}
        <h2 class="description_title">Description</h2>
        <div class="description_text">{{model.description}}</div>

      </div>
    </div>
  </div>
</div>