<div class="container" style="margin-top:25px;">
  {{#admin-notification visible=notification.visible classStyle=notification.classStyle text=notification.text}}{{/admin-notification}}
</div>

{{outlet}}

{{#admin-restaurants-add-tabs displayAdditionalOptions=model.displayAdditionalOptions idRestaurant=model.idRestaurant}}{{/admin-restaurants-add-tabs}}

<div class="container">
  {{#admin-notification visible=model.notification.visible classStyle=model.notification.classStyle text=model.notification.text}}{{/admin-notification}}

  <div class="box_shadow administration_fields column_same_height">
    <div class="row">
      <div class="col-md-6">
        <div class="row" style="margin-top:30px;">
          <div class="col-md-12">
            <label class="input_title">Logo</label>

            {{#if showImageUploader}}
              {{drop-zone url='/api/v1/admin/uploadRestaurantLogo' clickable=true maxFiles=1 file=file success=(action "addedFileLogo") dictDefaultMessage="Upload logo"}}
            {{else}}

              <div class="admin_restaurants_replace_image_container" style="width:115px; height:100px; margin-bottom:30px;">
                <div class="overlay" {{action 'showImageUploader'}}>
                  <span class="glyphicon glyphicon-cloud-upload replace_image" aria-hidden="true"></span>
                </div>
                <img src="{{restaurant.imageFileName}}" height="100" width="115" />
              </div>
            {{/if}}
          </div>
        </div>

        <div class="form-group">
          <label class="input_title">Name</label>
          {{input type="text" class="form-control input_fields" value=restaurant.restaurantName}}
        </div>
        <div class="form-group">
          <label class="input_title">Description</label>
          {{textarea value=restaurant.description rows="6"}}
        </div>

        <div class="row" style="margin-top:30px;">
          <div class="col-md-12">
            <div class="form-group admin_restaurants_add_map_container" style="overflow:auto;">
               <label class="input_title">Location</label>
               {{#g-map lat=restaurant.latitude lng=restaurant.longitude zoom=17 as |google_mapa|}}
                  {{g-map-marker google_mapa lat=restaurant.latitude lng=restaurant.longitude}}
               {{/g-map}}
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="row" style="margin-top:30px;">
          <div class="col-md-12">
            <label class="input_title">Cover</label>
            {{#if showCoverUploader}}
              {{drop-zone url='/api/v1/admin/uploadRestaurantCover' clickable=true addRemoveLinks=true thumbnailHeight=100 maxFiles=1 file=file success=(action "addedFileCover") dictDefaultMessage="Upload cover"}}
            {{else}}
              <div class="admin_restaurants_replace_image_container" style="width:300px; height:100px; margin-bottom:30px;">
                <div class="overlay" {{action 'showCoverUploader'}}>
                  <span class="glyphicon glyphicon-cloud-upload replace_image" aria-hidden="true"></span>
                </div>
                <img src="{{restaurant.coverFileName}}" width="300" height="100" />
              </div>
            {{/if}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group" style="height:54px; overflow:visible;">
              <label class="input_title">Price range</label>
              {{ember-selectize
                content=priceRange.priceRange
                optionValuePath="content.value"
                optionLabelPath="content.name"
                value=restaurant.priceRange
                placeholder="Select price range"
               }}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" style="height:54px; overflow:visible;">
                <label class="input_title">Location</label>
                {{ember-selectize
                  content=locations
                  optionValuePath="content.id"
                  optionLabelPath="content.location"
                  value=restaurant.location
                  placeholder="Select location"
                 }}
            </div>
          </div>
        </div>

        <div class="row" style="margin-top:30px;">
          <div class="col-md-12">
            <div class="form-group multiply_selection" style="height:54px;">
               <label class="input_title">Category</label>
               {{ember-selectize
                 content=categories
                 optionValuePath="content.id"
                 optionLabelPath="content.name"
                 selection=selectedCategories
                 placeholder="Select categories"
                 remove-item=(action 'removedItemInCategoriesDropDown')
                 multiple=true
                }}
            </div>
          </div>
        </div>
        <div class="buttons_container">
          {{#if edit}}
            <button {{action 'editItem'}} class="btn button pull-right">Save info</button>
          {{else}}
            <button {{action 'addItem'}} class="btn button pull-right">Add restaurant</button>
          {{/if}}
          <button {{action 'cancel'}} class="btn cancel_button pull-right">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>