{{outlet}}

{{#admin-restaurants-add-tabs displayAdditionalOptions=true idRestaurant=model.idRestaurant}}{{/admin-restaurants-add-tabs}}

<div class="container">
  {{#admin-notification visible=model.notification.visible classStyle=model.notification.classStyle text=model.notification.text}}{{/admin-notification}}

  <div class="box_shadow administration_fields">
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group admin_menu_buttons_type" role="group" style="margin-bottom:15px;">
          <button type="button" class="menu_title_Breakfast btn btn-default active" {{action 'changeType' 'Breakfast'}}>Breakfast</button>
          <button type="button" class="menu_title_Lunch btn btn-default" {{action 'changeType' 'Lunch'}}>Lunch</button>
          <button type="button" class="menu_title_Dinner btn btn-default" {{action 'changeType' 'Dinner'}}>Dinner</button>
        </div>
      </div>
    </div>

    <div class="row" style="margin-bottom:20px;">
      <div class="col-md-3"><strong>Name</strong></div>
      <div class="col-md-6"><strong>Description</strong></div>
      <div class="col-md-1"><strong>Price</strong></div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
    </div>

    {{#each model.menuitems as |menuitem|}}
      {{#admin-restaurant-menu menuitem=menuitem deleteItem='deleteItem'}}{{/admin-restaurant-menu}}
    {{/each}}

    <div class="row administration_menu_table_div_row" style="margin-top:20px;">
      <div class="col-md-3">{{input type="text" class="form-control input_fields" value=model.newMenuItem.name placeholder="Name"}}</div>
      <div class="col-md-7">{{input type="text" class="form-control input_fields" value=model.newMenuItem.description placeholder="Description"}}</div>
      <div class="col-md-1">{{input type="text" class="form-control input_fields" value=model.newMenuItem.price  placeholder="$"}}</div>
      <div class="col-md-1"><button {{action 'addItem'}} type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></div>
    </div>

  </div>
</div>