<div class="container" style="margin-top:25px;"></div>

{{outlet}}

{{#admin-restaurants-add-tabs displayAdditionalOptions=true idRestaurant=model.idRestaurant}}{{/admin-restaurants-add-tabs}}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover box_shadow">
        <thead>
          <tr>
            <td class="col-md-3"><strong>Id table</strong></td>
            <td class="col-md-4"><strong>First and Last name</strong></td>
            <td class="col-md-2"><strong>Persons</strong></td>
            <td class="col-md-2"><strong>Date and time</strong></td>
            <td class="col-md-1"></td>
          </tr>
        </thead>
        <tbody>
          {{#each model.listItems as |item|}}
            {{#if item.expired}}
              <tr class="danger">
                <td>{{item.idTable}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.persons}}</td>
                <td>{{item.reservationDateTime}}</td>
                <td class="administration_restaurant_menu_table_options" align="center">
                  <span {{action 'cancelReservation' item.id}} class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </td>
              </tr>
            {{else}}
              <tr>
                <td>{{item.idTable}}</td>
                <td>{{item.userName}}</td>
                <td>{{item.persons}}</td>
                <td>{{item.reservationDateTime}}</td>
                <td class="administration_restaurant_menu_table_options" align="center">
                  <span {{action 'cancelReservation' item.id}} class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </td>
              </tr>
            {{/if}}

          {{else}}
            <tr>
              <td colspan="4">No reservations!</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

{{outlet}}
