{{#if isSelected}}
<a href="javascript:void(0);" class="cousine_link_active" {{action 'clickLocation' restaurantsLocation.location}}>{{restaurantsLocation.location}} <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:#5F5F5F !important; font-size: 13px;"></span></a>
{{else}}
<a href="javascript:void(0);" class="cousine_link" {{action 'clickLocation' restaurantsLocation.location}}>{{restaurantsLocation.location}}</a>
{{/if}}