{{#each stars as |star|}}
  {{#if star.isFilled}}
    <img {{action 'clickStar' restaurantId star.starNumber}} src="assets/images/star_active.png" />
  {{else}}
    <img {{action 'clickStar' restaurantId star.starNumber}} src="assets/images/star_inactive.png" >
  {{/if}}
{{/each}}

{{#unless filter}}
  <span class="votes">({{votes}})</span>
{{else}}
  {{#if voted}}
    <span {{action 'removeStar'}} class="glyphicon glyphicon-remove remove_filter_span" aria-hidden="true" style="color:#5F5F5F !important; font-size:12px; padding-left:5px; padding-top:10px;"></span>
  {{/if}}
{{/unless}}