{{#if isSelected}}
  <a {{action 'clickCategory' categoryId}} class="cousine_link_active" href="javascript:void(0);">{{categoryName}}</a>
{{else}}
  <a {{action 'clickCategory' categoryId}} class="cousine_link" href="javascript:void(0);">{{categoryName}}</a>
{{/if}}

